.hamburger {
  width: 34px;
  height: 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 3px;
  background-color: black;
}

.responsiveMenus {
  background-color: pink;
  width: 100% !important;
  height: calc(100vh - 100px);
  position: absolute;
  top: 100px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 22px;
  z-index: 999;
}

.responsiveMenu {
  flex: 1;
  color: white;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transition: color 0.05s;
  border-bottom: 0.1px solid #5d5d5d;
}

.responsiveMenu a {
  width: 100%;
  height: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.responsiveMenu:hover {
  color: #9e2e9e;
}
