.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  padding: 2rem;
  margin: 0 auto;
  max-width: 1280px;
  color: grey;
}

@media screen and (max-width: 768px) {
  .container {
    display: none;
  }
}
