.container {
  padding: 250px 0 150px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.textSection {
}

.hello {
  font-size: 26px;
  font-weight: 600;
  color: #f1bbdd;
}

.hello::after {
  content: "";
  display: inline-block;
  border-bottom: 3.5px solid #9e2e9e;
  margin-left: 5px;
  width: 28px;
}

.name {
  font-size: 55px;
  font-weight: 800;
  font-family: var(--font-inter);
  text-transform: uppercase;
}

.job {
  color: #cdcbcb;
  font-size: 32px;
}

.imageSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageWrapper {
  min-width: 400px;
  min-height: 400px;
  z-index: 99;
}

@media screen and (max-width: 1280px) {
  .container {
    gap: 70px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    flex-direction: column;
    padding: 180px 0 120px 0;
    gap: 70px;
  }

  .textSection {
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .imageSection {
    order: 1;
  }
}

@media screen and (max-width: 480px) {
  .imageWrapper {
    min-width: 300px;
  }

  .name {
    font-size: 52px;
  }

  .job {
    font-size: 30px;
  }
}

@media screen and (max-width: 400px) {
  .name {
    font-size: 42px;
  }
}

@media screen and (max-width: 380px) {
  .imageWrapper {
    min-width: 250px;
  }

  .name {
    font-size: 40px;
  }

  .job {
    font-size: 25px;
  }
}

@media screen and (max-width: 330px) {
  .imageWrapper {
    min-width: 200px;
  }

  .name {
    font-size: 36px;
  }

  .job {
    font-size: 20px;
  }
}

@media screen and (max-width: 280px) {
  .imageWrapper {
    min-width: 150px;
  }

  .name {
    font-size: 36px;
  }

  .job {
    font-size: 20px;
  }
}
